*~
*.sw?
**/archive
**/personal
**/todel
**/*-disabled
**/.corp-*
**/vim/autoload
**/vim/plugged
**/vim/bundle
**/vim/spell/*.spl
**/vim/spell/*.sug
**/vim/.netrwhist
**/conky
**/__pycache__
seafile-ignore.txt
*.dis
*.disabled
